<button >
    <a  class="link s0" href="/movies/list">Back</a>
</button>


<div class="updatebox">
    <div class="updatebox2">
        <h2 class="lists">Update your movie</h2>
        <ul class="lists">
        <h2>{{title}}</h2>
        <p>date: {{date}}</p>
        <p>Rating: {{rate}}</p>
            <img class="pic1" src={{img}} alt="fotografia">
        </ul>
    </div>
    <br><br>

    <form class="formedit" action="/movies/{{id}}/edit" method="POST">
        <label for="label-name">Movie title:</label>
        <input type="text" name="name" id="label-name" value="{{title}}">
        <br><br>
        <label for="label-age">Date</label>
        <input type="number" name="date" id="label-date" value="{{date}}">
        <br><br>
        <label for="label-weigth">Rate</label>
        <input type="number" name="rate" id="label-rate" value="{{rate}}">
        <br><br>
        <label for="label-speed">Image</label>
        <input type="text" name="img" id="label-img" value="{{img}}">
        <button  type="submit">Update</button>
    </form>
</div>