<button >
    <a  class="link s0" href="/characters/create">Back</a>
</button>
<button >
    <a  class="link s0" href="/user/menu">Home</a>
</button>

<div class="outList">
    <div class="mainList">
    <h1>Character list</h1>

    {{#each characterList}}
    <div class="grid-container">
        <div class="grid-item">    
            <h2>{{name}}</h2>
            <p>Age: {{age}}</p>
            <p>Weigth: {{weigth}}</p>
            <p>History: {{history}}</p>
            <p>Movies: {{movies}}</p>
            <img class="pic1" src={{img}} alt="fotografia">
            <br> 
            <button><a class="ver1" href="/characters/{{id}}">Character details</a></button>
            <button><a class="ver1" href="/characters/{{id}}/edit">Update character</a></button>
            <br> 
            <form action="/characters/{{id}}/delete" method="POST">
            <button type="submit" class="submit">Delete producto</button>
            </form>
        </div>    
    </div>
    {{/each}}
</div>