<button >
    <a  class="link s0" href="/characters/list">Back</a>
</button>
<button >
    <a  class="link s0" href="/">Home</a>
</button>

<div class="updatebox">
    <div class="updatebox2">
        <h2 class="lists">Update your character</h2>
        <ul class="lists">
        <h2>{{name}}</h2>
        <p>Age: {{age}}</p>
        <p>Weigth: {{weigth}}</p>
        <p>History: {{history}}</p>
        <p>Movies: {{movies}}</p>
            <img class="pic1" src={{img}} alt="fotografia">
        </ul>
    </div>
    <br><br>

    <form class="formedit" action="/characters/{{id}}/edit" method="POST">
        <label for="label-name">Character name:</label>
        <input type="text" name="name" id="label-name" value="{{name}}">
        <br><br>
        <label for="label-age">Age</label>
        <input type="number" name="age" id="label-age" value="{{age}}">
        <br><br>
        <label for="label-weigth">Weigth</label>
        <input type="number" name="weigth" id="label-weigth" value="{{weigth}}">
        <br><br>
        <label for="label-history">History</label>
        <input type="text" name="history" id="label-history" value="{{history}}">
        <br><br>
        <label for="label-movies">Movies</label>
        <input type="text" name="movies" id="label-history" value="{{history}}">
        <br><br>
        <label for="label-speed">Image</label>
        <input type="text" name="img" id="label-img" value="{{img}}">
        <button  type="submit">Update</button>
    </form>
</div>